@using Microsoft.AspNetCore.Http;
@{ 
    string Login = Context.Session.GetString("Login");
}

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

    <header>
        <!-- Menu -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Banco de Palavras</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                        </li>
                        <!--TODO - Apresentar este menu apenas se o usuário tiver logado-->
                        @if (Login != null) {
                            <li class="nav-item">
                                <a class="nav-link" href="/palavra">Palavras</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" href="/contato">Contato</a>
                        </li>
                    </ul>
                </div>
                @if (Login == null) {
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn btn-primary me-md-2" href="/home/login">Login</a>
                    </div>
                } else {
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn btn-primary me-md-2" href="/home/logout">Sair</a>
                    </div>
                }

            </div>
        </nav>
    </header>

    <div class="container">
        <div>
            <!-- Conteúdo - Página -->
            @RenderBody()
        </div>
        <footer>
            <!-- Footer -->
            <div class="row"></div>
            <div class="col-sm-12">
                Todos os direitos reservados &copy; 2020 - @DateTime.Now.Year
            </div>
        </footer>
    </div>
</body>
</html>